doctype 5
html
  head
    title
      | Burst
      = ": #{@page_title}" if @page_title
    /[if lt IE 9]
      script src="http://html5shim.googlecode.com/svn/trunk/html5.js"
    // = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "http://code.highcharts.com/highcharts.js", "http://code.highcharts.com/modules/exporting.js", "https://www.google.com/jsapi", "application"
    // = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application"
    = stylesheet_link_tag "jquery-ui-1.8.18.custom", "application"
    /* link rel="stylesheet" href="/css/bootstrap-responsive.min.css"*/
    link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon"
    = csrf_meta_tags
    // script type='text/javascript' google.load('visualization', '1', {packages:['table', 'annotatedtimeline']});
    /* script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"*/
    /* script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"*/
    /* script src="/js/bootstrap.min.js" type="text/javascript"*/
    //, "https://www.google.com/jsapi", "application"
    = javascript_include_tag 'application'
    = javascript_include_tag "http://code.highcharts.com/highcharts.js", "http://code.highcharts.com/modules/exporting.js"
    = javascript_include_tag "http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"
  body

    .navbar#main-nav
      //.navbar-fixed-top
      .navbar-inner
        .container
          a.brand href="/"
          .nav-collapse
            ul.nav#global-nav
              li class='active'
                = link_to 'Home', "#"
              li 
                = link_to 'Settings', "#"

            ul.nav.pull-right#user-nav
              - if current_user
                li
                  = link_to 'Sign out', signout_path
              - else
                li
                  a href="/auth/twitter"
                    span style='background:url(https://si0.twimg.com/images/dev/cms/intents/bird/bird_blue/bird_16_blue.png) 0 50% transparent no-repeat; padding-left:22px;' Sign in with Twitter

    .container#main
      div align="center"
        img src="http://f.cl.ly/items/0A2R2F2h2w1z183s0Y0w/BurstLogo.jpg" width="400px" class="burstlogo"
      - flash.each do |k,v|
        div class="alert alert-#{k} align-center"
          a.close data-dismiss="alert" ×
          strong = v
      == yield
      
      hr

    .container
      footer
        a href="/posts/5/policy" style="color:#888" Burst, 2012


    script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"

    javascript:
      $('#submit-filter').click(function() { $('#filter-results').submit(); });
      $(function() {
        $( "#time-slider" ).slider({
    			range: true,
    			min: 0,
    			max: 604800*32,
    			values: [ #{params[:start] || 0}, #{params[:end] || 604800*4} ],
    			slide: function( event, ui ) {
            $('#time_output').html(exact_time(ui.values[0],ui.values[1]));
            $('#start').val(ui.values[0]);
            $('#end').val(ui.values[1]);
    			}
    		});
        $('#time-salience-slider').slider({
            min: 0,
            max: 100,
            value: #{params[:time_salience].to_i || 100},
            slide: function(event, ui) {
                $('#time_salience_output').html(percentage(ui.value, "Freshness"));
                $('#time_salience').val(ui.value);
              }
        });
        $('#importance-slider').slider({
            min: 0,
            max: 100,
            value: #{params[:importance].to_i || 100},
            slide: function(event, ui) {
                $('#importance_output').html(percentage(ui.value, "Popularity"));
                $('#importance').val(ui.value);
              }
        });
        $('#proximity-slider').slider({
            min: 0,
            max: 100,
            value: #{params[:proximity].to_i || 100},
            slide: function(event, ui) {
                $('#proximity_output').html(percentage(ui.value, "Closeness"));
                $('#proximity').val(ui.value);
              }
        });
      });
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-16471158-1']);
      _gaq.push(['_setDomainName', '140kit.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
